.navbar-brand{
    font-size:20px;
}
body{    
    color:darkslategrey;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}
.navbar-nav {
    font-size:smaller;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
}
.card{
    margin:20px;
}
.main-content{
    margin-top:20px;
}
.blog-title{
    color:#000000;
    text-decoration:none 
}
.blog-title:hover{
    color:#606060;
    text-decoration:none;
}
h1{
    text-align:center;
}
.account-img {
    /* border: black solid 4px;     */
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.account-heading {
    font-size: 2.5rem;
}
.pagination > li > a {
    color: #292b2c;
    /* color: #fff; */
}
.home-img{  
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.card-body> .text-muted > a{
    color:#404040;
    text-decoration: none;
}
.card-body> .text-muted > a:hover{
    color:#909090;
    text-decoration: none;
}
.pagination > .active > a{
    background-color: #292b2c;
    color:white;
}