{% extends "blog/base.html" %}
{% block content %}
    <div class = "container">
        <div class="card">
            <div class="card-body">
                <small class = "text-muted"><a href = "{% url 'blog-user-post' object.author.username %}">{{object.author}}</a> , {{object.date|date:"F d,Y"}}
                    <span class = "float-right">
                        {% if user == object.author %}
                            <a href = "{% url 'post-update' object.id %}" class = 'btn btn-outline-secondary  mt-1 mb-1'>Edit</a>
                            <a href = "{% url 'post-delete' object.id %}" class = 'btn btn-outline-danger  mt-1 mb-1'>Delete</a>
                        {% endif %}    
                    </span>
                </small>
                <h2 class="card-title">{{object.title}}</h2>
                <p class="card-text">{{object.content|linebreaks}}</p>
            </div>
        </div>    
    </div>
{% endblock content %}
